<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}" media="screen" type="text/css">
    <link rel="stylesheet" href="{{ '/assets/css/print.css' | relative_url }}" media="print" type="text/css">
    <script src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/mermaid@10.9.1/dist/mermaid.min.js"></script>
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->

  
    <script>
      const ap = new APlayer({
        container: document.getElementById('aplayer'),
        autoplay: false,
        loop: 'all',
        order: 'list',
        preload: 'auto',
        audio: [
          {
            name: '绿袖子',
            artist: 'Music by <a href="https://pixabay.com/zh/users/juliush-3921568/?utm_source=link-attribution&utm_medium=referral&utm_campaign=music&utm_content=1776">Julius H.</a> from <a href="https://pixabay.com/music//?utm_source=link-attribution&utm_medium=referral&utm_campaign=music&utm_content=1776">Pixabay</a>',
            url: '/assets/music/greensleevs.mp3',
            cover: '/assets/music/cover.png' // 封面图片，可选
          }
        ]
      });
    </script>

{% seo %}

    {% include head-custom.html %}
  </head>

  <body>
    <header>
      <div class="inner">
        <a href="{{ '/' | absolute_url }}">
          <h1>{{ site.title | default: site.github.repository_name }}</h1>
        </a>
        <h2>{{ site.description | default: site.github.project_tagline }}</h2>
      </div>
    </header>

    <div id="content-wrapper">
      <div class="inner clearfix">
        <section id="main-content">
          {{ content }}
        </section>

        <aside id="sidebar">
            <nav>
            <ul>
                <li><a href="{{ site.url }}/taomu" class="button">Home</a></li>
                <li><a href="{{ site.url }}/taomu/categories/" class="button">Categories 分类</a></li>
                <li><a href="{{ site.url }}/taomu/tags/" class="button">Tags 标签</a></li>
                <li><a href="{{ site.url }}/taomu/archives/" class="button">Archives 存档</a></li>
                <li><a href="{{ site.url }}/taomu/about/" class="button">About Me</a></li>
            </ul>
            </nav>
            <div id="aplayer"></div>
        </aside>
      </div>

    </div>

  </body>
</html>